/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
  .content-container{
    /* border: 1px solid red; */
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    min-width: 50px;
    max-width: 100%;    
  }

  .full-width {
    width: 100%;
  }
  
